*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7fafc; /* light gray */
  transition: background-color 0.3s ease;
}

.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}